= form_for @report, :html => { :class => 'form-horizontal' } do |f|
  .row
    .span6
      = f.hidden_field :jelly
      =render :partial => 'jelly', :object => @report.jelly
      %map{:name => "jelly-map"}
        - jelly_coords.each_with_index do |c,i|
          %area{:coords => c, :id => "jelly-#{i+1}", :shape => "rect"}
    .span6
      .control-group
        = f.label :user_id, :class => 'control-label'
        .controls
          = f.number_field :user_id, :class => 'number_field'
      .control-group
        = f.label :jelly, :class => 'control-label'
        .controls
          = f.number_field :jelly, :class => 'number_field'
      .control-group
        = f.label :help_needed, :class => 'control-label'
        .controls
          = f.text_area :help_needed, :class => 'text_area'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), reports_path, :class => 'btn'
