= semantic_form_for @report do |f|
  = f.semantic_errors
  .row
    .span6
      = f.inputs do
        = f.input :jelly, :as => :hidden
        =render :partial => 'jelly', :object => @report.jelly
        %map{:name => "jelly-map"}
          - jelly_coords.each_with_index do |c,i|
            %area{:coords => c, :id => "jelly-#{i+1}", :shape => "rect"}
    .span6
      = f.inputs do
        = f.input :excited
        = f.input :previous_day, :as => :ui_date_picker
        = f.input :today, :as => :ui_date_picker
        = f.input :help_needed
  .form-actions
    = f.actions :submit, :cancel

