.report-text
  %h2 I am most excited about:
  %p#excited= markdown report.excited
  %h2= "#{date_text(report.previous_day,report.today).titleize} I achieved:"
  %ol#achievements
    - report.achievements.each do |achievement|
      %li= achievement.text
  %h2= "Today I plan to achieve:"
  %ol#tasks
    - report.tasks.each do |task|
      %li= task.text
  %h2 Who can help me?
  #help_needed= markdown report.help_needed

