= content_for :title do
  Reports - #{@date}

.row
  .col-md-12
    %h1 Reports for #{@date}
    
- if @reports.any?
  .row
    .col-md-12
      = link_to reports_present_path(date: @date.to_s(:db)), :class => 'btn btn-primary' do
        = glyph 'eye-open'
        Present
  .row
    .col-md-12
      %ul#reports-index
        - @reports.each do |report|
          %li
            = gravatar_for report.user, 16
            = link_to report.user.name, report_path(report)
- else
  .alert.alert-block.alert-warn
    %h4.alert-heading No reports to show!

