= content_for :title do
  Meeting for #{@date}
%section
  %h1 Daily meeting
  %h2= @date
- @reports.each do |report|
  %section
    .left
      %h2.title
        = gravatar_for report.user, 64
        = report.user.name
      = render 'jelly', jelly: report.jelly
    = render 'report_text', report: report
%section
  %h1 The end
  = link_to 'Back to app', reports_path(date: @date.to_s(:db))
