- model_class = @report.class
- prev = @report.previous_day == @report.today - 1 ? "Yesterday" : "On #{@report.previous_day.strftime('%A')}"

%h1
  = gravatar_for @report.user
  = @report.user.name
  %small= @report.today

.row
  .span6
    = render :partial => 'jelly', :object => @report.jelly
  .span6
    %h2 I am most excited about:
    %p= @report.excited
    %h2= "#{prev} I achieved:"
    %ol
      - @report.achievements.each do |achievement|
        %li= achievement.text
    %h2= "Today I plan to achieve:"
    %ol
      - @report.tasks.each do |task|
        %li= task.text
    %h2 Who can help me?
    = simple_format @report.help_needed
    

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), reports_path, :class => 'btn'
  - if can? :update, @report
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_report_path(@report), :class => 'btn'
  - if can? :destroy, @report
    = link_to t('.destroy', :default => t("helpers.links.destroy")), report_path(@report), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
