%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
= link_to('Jelly', root_url, {:class => 'brand'})
.container-fluid.nav-collapse
  %ul.nav
    %li
      = link_to reports_path do
        %i.icon-eye-open
        Team reports
    %li
      = link_to new_report_path do
        %i.icon-file
        Add report
  %ul.nav.pull-right
    %li.dropdown
      %a.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown'}
        - if user_signed_in?
          %i.icon-user
          = current_user.name
        - else
          Not signed in
        %b.caret
      %ul.dropdown-menu
        - if user_signed_in?
          %li= link_to 'Account', edit_user_registration_path
          %li= link_to 'Logout', destroy_user_session_path, :method => :delete
        - else
          %li= link_to 'Login', new_user_session_path
          %li= link_to 'Sign up', new_user_registration_path
