%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{type: 'button', data: {toggle: 'collapse', target: '#navbar-content'}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Jelly', root_url, class: 'navbar-brand'
    .collapse.navbar-collapse#navbar-content
      %ul.nav.navbar-nav
        - if current_user
          %li
            = link_to new_report_path do
              %i.icon-file
              Write report
          %li.dropdown
            %a.dropdown-toggle{data: {toggle: 'dropdown'}, role: 'button', aria: {expanded: false}}
              %i.icon-eye-open
              View reports
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to reports_path :date => Date.today.to_s(:db) do
                  %i.icon-eye-open
                  Today's reports
              %li
                = link_to reports_path :user => current_user do
                  %i.icon-user
                  My reports
              %li
                = link_to reports_path do
                  %i.icon-calendar
                  All reports
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{data: {toggle: 'dropdown'}, role: 'button', aria: {expanded: false}}
            - if user_signed_in?
              = gravatar_for current_user, 16
              = current_user.name
            - else
              Not signed in
            %b.caret
          %ul.dropdown-menu
            - if user_signed_in?
              - if current_user.has_role? :admin
                %li= link_to 'Admin', admin_users_path
              %li= link_to 'Account', edit_user_registration_path
              %li= link_to 'Logout', destroy_user_session_path, :method => :delete
            - else
              %li= link_to 'Login', new_user_session_path
              %li= link_to 'Sign up', new_user_registration_path
