!!!
%html{:lang => "en"}
  %head
    = render 'layouts/head'
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = render 'layouts/navbar'
    .container
      = render 'layouts/alerts'
      = yield
      %footer
        %p
          &copy; 2012 Rich Daley
          = link_to "[github]", "https://github.com/pedantic-git/jelly"
    = javascript_include_tag "application"

