!!!
%html{:lang => "en"}
  %head
    = render 'layouts/head'
  %body
    .wrapper
      = render 'layouts/navbar'
      .container-fluid{class: params[:controller]}
        = render 'layouts/alerts'
        = yield
      .push
    %footer
      %p
        &copy; 2012-2015 Fish Percolator #{link_to "[github]", "https://github.com/fishpercolator/jelly"}
        %br
        &copy; #{link_to "Trainer Bubble", "http://www.trainerbubble.com/"} (Jelly Baby Tree). Used with permission.

