!!!
%html{:lang => "en"}
  %head
    = render 'layouts/head'
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = render 'layouts/navbar'
    .container-fluid
      .row-fluid
        .span12
          = render 'layouts/alerts'
          = yield
      %footer
        %p &copy; RichD 2012
    = javascript_include_tag "application"
